<h1>Quizzes#show</h1>
<h1><%= @quiz.word.name %></h1>

<div class="flex">
  <% @quiz_choices.each do |choice| %>
    <div class="p-6 m-4 bg-white rounded shadow-md flex-1">
      <% parts = choice.parts %>

      <%= link_to programming_explanation_path(id: @quiz.word.id), method: :get, class: "text-decoration-none" do %>
        <%= parts[:first_part] %>
        <% if parts[:bold_part] %>
          <strong class="font-bold text-red-500"><%= parts[:bold_part] %></strong>
        <% end %>
        <%= parts[:last_part] %>
      <% end %>
    </div>
  <% end %>
</div>
