<h1>Quizzes#show</h1>
<h1><%= @quiz.word.name %></h1>
<p>正解だと思う方のふりがなをクリックしてね！</p>

<div class="flex">
  <% @quiz_choices.shuffle.each do |choice| %>
    <div class="p-6 m-4 bg-white rounded shadow-md flex-1">
      <% parts = choice.parts %>

      <%= link_to programming_explanation_path(id: @quiz.word.id, choice_id: choice.id), method: :get, class: "text-decoration-none" do %>
        <%= parts[:first_part] %>
        <% if parts[:bold_part] %>
          <strong class="font-bold "><%= parts[:bold_part] %></strong>
        <% end %>
        <%= parts[:last_part] %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @level_up %>
  <%= render 'level_up_modal' %>
  <script>
    window.currentUser = {
      id: "<%= current_user.id %>",
      token: "<%= form_authenticity_token %>"
    };
    window.conversationsData = <%= @conversations.map(&:content).to_json.html_safe %>;
    window.speakersData = <%= @conversations.map(&:speaker).to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'level_up' %>
<% end %>