<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-yusei"> <%= t('defaults.edit_user_information') %></h1>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-control">
            <label class="label">
              <span class="label-text"><%= f.label :name %></span>
            </label>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input input-bordered" %>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text"><%= f.label :email %></span>
            </label>
            <%= f.email_field :email, autocomplete: "email", class: "input input-bordered" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="form-control">
            <label class="label">
              <span class="label-text"><%= f.label :new_password %></span>
            </label>
              <p class="text-xs text-gray-600 mt-2"><%= t('defaults.new_password_if_you_want') %></p>            
              <em class="text-xs text-gray-600">(<%= t('defaults.characters_minimum', min: @minimum_password_length) %>)</em>
            <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered" %>
            <% if @minimum_password_length %>
            <% end %>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text"><%= f.label :confirm_new_password %></span>
            </label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered" %>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text"><%= f.label :current_password %></span>
              <p class="text-xs font-bold mt-2 ml-3">※ <%= t('defaults.required') %></p>
            </label>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "input input-bordered" %>
          </div>
          <div class="form-control mt-6">
            <%= f.submit t('defaults.update'), class: "btn btn-primary" %>
          </div>
        <% end %>
        <%= button_to t('users.edit.Cancel my account'), registration_path(resource_name), data: { turbo_confirm: "アカウントの削除は取り消せません。削除しますか?" }, method: :delete, class: "font-yusei mt-6" %>
    </div>
  </div>
  </div>
</div>