<%= render 'shared/header' %>
<%= javascript_include_tag 'youglish' %>

<div class="flex flex-col lg:flex-row items-center lg:justify-between">
  <!-- グループ1 -->
  <%= render 'shared/programming_explanation', word:@favorite.word %>
  <!-- グループ2 -->
  <%= render 'shared/youglish', word:@favorite.word %>
</div>
<div class="text-left ml-160 mt-5 mb-3">
  <%= render 'favorites/favorite_button', word: @favorite.word, favorited: @favorite.word.favorited_by?(current_user) %>
  <%= link_to 'もどる', favorites_path, class: 'btn bg-orange-600 hover:bg-orange-500 text-white font-yusei' %>
</div>
