<%= render 'shared/header' %>
<%= javascript_include_tag 'youglish' %>

<% if @user_quiz_history.is_correct %>
  <h1 class="font-rowdies text-lg text-center text-rose-900 mt-5">Fantastic！</h1>
  <h1 class="font-yusei text-6xl text-center text-rose-900">ふぁんてぇぁぁぁあすてぃっく！</h1>
<% else %>
    <h1 class="font-rowdies text-lg text-center text-blue-800 mt-5">Nice try</h1>
    <h1 class="font-yusei text-6xl text-center text-blue-800">ないすちゅらい（惜しい）</h1>
<% end %>

<div class="flex flex-col lg:flex-row items-center lg:justify-between">
  <!-- グループ1 -->
  <div class="w-full lg:w-1/2 mx-auto lg:mx-0">
    <div class="rounded shadow-md text-left bg-green-900 text-white ml-10 w-40 pt-3 pb-3 mt-16">
      <p class="font-rocknroll text-3xl ml-10">こたえ</p>
    </div>
    <div class="font-yusei text-5xl text-left ml-28 mt-10 text-gray-800">
      <% parts = @word.parts %>
      <%= parts[:first_part] %>
      <% if parts[:bold_part] %>
        <strong class="text-black"><%= parts[:bold_part] %></strong>
      <% end %>
      <%= parts[:last_part] %>
    </div>
    <p class="font-rowdies mx-auto text-8xl text-left ml-28"><%= @word.name %></p>
    <div class="rounded shadow-md text-left bg-green-900 text-white pt-3 pb-3 w-96 mt-14 ml-10">
      <p class="font-rocknroll text-3xl ml-5">プログラミングてき解説</p>
    </div>
    <p class="font-yusei text-2xl ml-10 break-words mt-10"><%= @word.programming_explanation %></p>
  </div>

  <!-- グループ2 -->
  <div class="w-full lg:w-1/2 mx-auto lg:mx-0 lg:mr-20 mt-10">
    <div id="youglish-player"></div>
    <div id="youglish-widget" data-word="<%= @word.name %>"></div>
    <div class="ml-32">
      <button id="play-button" class="btn btn-primary">再生</button>
      <button id="pause-button" class="btn btn-secondary">停止</button>
      <button id="next-button" class="btn btn-primary">つぎの動画</button>
      <button id="prev-button" class="btn btn-secondary">まえの動画</button>
      <button id="repeat-button" class="btn btn-secondary">繰り返す</button>
    </div>
  </div>
</div>

<div class="text-right mr-10">
  <%= link_to 'メモする(準備中)','#', class: 'btn font-rocknroll' %>
  <%= link_to 'Xでシェア', "https://twitter.com/intent/tweet?text=「#{@word.name}」は「#{@word.furigana}」って言ってみよっと！&hashtags=eigoemon&url=#{root_url}", class: 'btn font-rocknroll bg-blue-600 hover:bg-blue-500 text-white', target: "_blank", class: 'btn font-rocknroll bg-blue-600 hover:bg-blue-500 text-white', target: "_blank" %>
  <%= link_to 'もう1問！', quiz_path(Quiz.all.pluck(:id).sample), class: 'btn bg-orange-600 hover:bg-orange-500 text-white' %>
</div>
