<%= javascript_include_tag 'youglish' %>
<%= render 'shared/header' %>

<%=render 'shared/result', is_correct: @user_quiz_history.is_correct %>

<div class="flex flex-col lg:flex-row items-center lg:justify-between">
  <!-- グループ1 -->
  <%= render 'shared/programming_explanation', word:@word %>
  <!-- グループ2 -->
  <%= render 'shared/youglish', word:@word %>
</div>

<div class="text-left ml-128 mt-5 mb-3">
  <%= link_to '(準備中)','#', class: 'btn font-rocknroll' %>
  <%= link_to 'Xでシェア', "https://twitter.com/intent/tweet?text=「#{@word.name}」は「#{@word.furigana}」って言ってみよっと！&hashtags=eigoemon&url=#{root_url}", class: 'btn font-rocknroll bg-blue-600 hover:bg-blue-500 text-white', target: "_blank", class: 'btn font-rocknroll bg-blue-600 hover:bg-blue-500 text-white', target: "_blank" %>
  <%= link_to 'もう1問！', quiz_path(Quiz.all.pluck(:id).sample), class: 'btn bg-orange-600 hover:bg-orange-500 text-white font-yusei' %>
</div>