<%= javascript_include_tag 'youglish' %>

<h1>Explanations#programming</h1>

<% if @user_quiz_history.is_correct %>
  <h2>Fantastic! You got it right! See the explanation below.</h2>
<% else %>
  <h2>Almost there! Check out the explanation below to understand better.</h2>
<% end %>

<h3>こたえは <% parts = @word.parts %></h3>
<%= parts[:first_part] %>
<% if parts[:bold_part] %>
  <strong class="font-bold tect-red-500"><%= parts[:bold_part] %></strong>
<% end %>
<%= parts[:last_part] %>

<h3>プログラミングではこんなふうに使うよ</h3>
  <p><%= @word.programming_explanation %></p>

<h3>ここにyouglishAPI</h3>
<h1><%= @word.name %></h1>

<div id="youglish-player"></div>
<div id="youglish-widget" data-word="<%= @word.name %>"></div>
<!-- Control buttons -->
<button id="play-button" class="btn btn-primary">Play</button>
<button id="pause-button" class="btn btn-secondary">Pause</button>
<button id="repeat-button" class="btn btn-secondary">Repeat</button>



<%= link_to 'もう1問！', quiz_path(Quiz.all.pluck(:id).sample), class: 'btn btn-primary' %>
<%= link_to 'Topへ戻る', root_path, class: 'btn btn-secondary' %>
<%= link_to 'メモする(準備中)','#', class: 'btn btn-thrdry' %>
