<div class="navbar bg-yellow-600">
  <div class="flex-1">
    <%= link_to 'はつめい屋 英語えもん', root_path, class: 'btn bg-rose-900 hover:bg-rose-800 text-white text-xl font-yusei ml-10' %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-3 text-xl font-yusei text-base-200">
      <li>
        <% if user_signed_in? %>
          <div class="header-loggedout btn bg-blue-600 hover:bg-blue-500 text-white hover:text-white font-yusei px-8 text-lg mr-5">
          <%= link_to "START（もんだい）", quiz_path(Quiz.all.pluck(:id).sample) %>
        </div>
      </li>
      <li>
        <div class="header-loggedout btn bg-blue-600 hover:bg-blue-500 text-white hover:text-white font-yusei px-8 text-lg mr-5">
          <%= link_to "図書館", words_path %>
        </div>
      </li>
      <li>
        <details>
          <summary class="btn bg-rose-900 hover:bg-rose-800 text-white hover:text-white mr-4 px-8 text-lg">
            ふくしゅう
          </summary>
          <ul class="p-2 bg-base-300 text-black text-lg">
            <li>  <%= link_to 'メモした単語', favorites_path %></li>
            <li><%= link_to '準備中', '#' %></li>
          </ul>
        </details>
      </li>
      <li>
          <details>
            <summary class="btn bg-rose-900 hover:bg-rose-800 text-white hover:text-white font-yusei px-8 text-lg mr-5"><%= current_user.name %></summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-300 rounded-box text-lg">
              <li class="text-rose-900">ユーザーレベル：<%= current_user.level %></li>
              <li class="text-black"><%= link_to "ユーザー編集", edit_user_registration_path %></li>
              <li class="text-black">
                <%= link_to destroy_user_session_path, data: {turbo_method: :delete, status: :see_other, turbo_confirm: "ログアウトしますか？"} do %>
                  <%= 'ログアウト' %>
                <% end %>
              </li>
            </ul>
          </details>
      </li>
        <% else %>
      <li>
        <details>
          <summary class="btn bg-rose-900 hover:bg-rose-800 text-white hover:text-white mr-4 px-8 text-lg">
            おためし
          </summary>
          <ul class="p-2 bg-base-300 text-black text-lg">
            <li><%= link_to 'もんだい（3問）', quiz_show_tutorial_path(1) %></li>
            <li><%= link_to '図書館(3単語)', library_index_tutorials_path %></li>
          </ul>
        </details>
      </li>
        <div class="header-loggedout btn bg-rose-900 hover:bg-rose-800 text-white hover:text-white font-yusei px-8 text-lg mr-3">
          <%= link_to '会員登録', new_user_registration_path %>
        </div>
      <li>
        <div class="header-loggedout btn bg-rose-900 hover:bg-rose-800 text-white hover:text-white font-yusei px-8 text-lg mr-5">
          <%= link_to "ログイン", new_user_session_path %>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>
