<%= javascript_include_tag 'youglish' %>
<%= render 'shared/header' %>

<div class="flex flex-col lg:flex-row items-center lg:justify-between">
  <!-- グループ1 -->
  <%= render 'shared/english_explanation', word:@word %>
  <!-- グループ2 -->
  <%= render 'shared/youglish', word:@word %>
</div>

<div class="text-left ml-160 mt-5 mb-3">
  <%= link_to t('defaults.back'), library_index_tutorials_path, class: 'btn bg-blue-600 hover:bg-blue-500 font-yusei text-white' %>
  <%= link_to t('defaults.kanji_sign_up'), new_user_registration_path, class: 'btn bg-orange-600 hover:bg-orange-500 text-white mb-3 font-yusei' %>
</div>