<div class="flex justify-center items-center mt-28">
  <p class="text-4xl font-rocknroll break-words mr-5"><%= t('main.library_announcement') %></p>
  <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_words_path %>" role="combobox" class="text-lg relative">
    <input type="text" data-autocomplete-target="input" class="border rounded" autofocus placeholder="<%= t('placeholder.search') %>">
    <input type="hidden" name="word_id" data-autocomplete-target="hidden"/>
    <ul class="list-group absolute z-10 mt-2 bg-white border rounded shadow-lg" data-autocomplete-target="results"></ul>
  </div>
</div>

<p class="mx-auto text-2xl text-center font-yusei break-words text-rose-900 mt-3">※ <%= t('main.sound_notice')%></p>

<div class="mockup-code mt-3 mx-28 bg-gray-600 text-white p-3 pb-52 mb-20">
    <% @words.each do |word| %>
      <div class="m-3 inline-block">
        <code class="hover:bg-yellow-500 hover:text-gray-900 text-2xl px-3">
          <%= link_to word.name, english_explanation_path(word) %>
        </code>
      </div>
    <% end %>
</div>