<div class="mt-5 mb-60">
  <div class="text-2xl">
    管理画面：ユーザー一覧
  </div>

<div>
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider">ID</th>
        <th class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider">名前</th>
        <th class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider">レベル</th>
        <th class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider">作成日</th>
        <th class="px-6 py-3 text-left ont-medium text-gray-500 uppercase tracking-wider">操作</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @users.each do |user| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap"><%= user.id %></td>
          <td class="px-6 py-4 whitespace-nowrap"><%= user.name %></td>
          <td class="px-6 py-4 whitespace-nowrap"><%= user.level %></td>
          <td class="px-6 py-4 whitespace-nowrap"><%= user.created_at %></td>
          <td class="px-6 py-4 whitespace-nowrap">
            <% unless user == current_user %>
              <%= link_to "削除", admin_user_path(user), data: {
                turbo_method: :delete,
                turbo_confirm: 'このユーザーを削除しますか？'
              } , class: 'btn btn-error btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
